@charset "utf-8";
/* CSS Document */
* {
 margin: 0;
 padding: 0;
 border:0;
 }
 
@font-face {
font-family: DsonhosFont;
font-style: normal;
font-weight: normal;
src: url(gabriola.ttf);
}
/*------------------------------------------------------------------------------- CORES D'Sonhos --------/
#732f3c - vinho escuro da logo (borda)
#efbac0 - rosa da logo#ae4060 - rosa da linha da logo
#e7dce0 - lilás claro do doce da logo.
#d55f81 - lilás escuro do doce da logo.
#fbf0f3 - rosa bem claro (backgound do box)
#e392af - rosa da linha da box#fbc9d1 - um dos rosa claro do background (são vários pois tem efeito granulado)
#f7899b - um dos rosa escuro do background (são vários pois tem efeito granulado)
#f2c8cd -> 
#ecadb4 - degradê do menu. de cima para baixo
*/

/* padronizando tamanhos de cabecalho em todos os browsers */
h1 {font-size: 250%;}
h2 {font-size: 200%;}
h3 {font-size: 150%;}
h4 {font-size: 120%;}
table{ border-spacing: 0;}

body {
 background-color: black;
 background-image:url('../imagens/layout/bg_image.jpg');
 background-position: top center;
 background-repeat: repeat;
 font-family: Arial, Helvetica, sans-serif;
/* font-family:"DsonhosFont", Arial, sans-serif;*/
 color:#732f3c;
}

#bgraios{
 position:absolute;
 background-image:url('../imagens/layout/bg_logo_raios_e_linha.png');
 background-position: 0 0 ;
 background-repeat: no-repeat;
 width : 880px;
 height : 385px;
 top: 0;
 margin-left:0;
 z-index: 0;
}

/****************** ESTRUTURA **/
#corpo{
 position:relative;
 top:60px;
 margin-left :auto;
 margin-right:auto;
 width:908px;
}
#corpo #boxtop {
 background-image:url('../imagens/layout/bg-box-top.png');
 background-position: 0 0 ;
 background-repeat: no-repeat;
 height:8px;
/*fixo*/
}
#corpo #boxcenter{
 background-image:url('../imagens/layout/bg-box-center.png');
 background-position: 0 0 ;
 background-repeat: repeat-y; 
 padding: 0 5px 0 5px;
}
#corpo #boxbottom{
 background-image:url('../imagens/layout/bg-box-bottom.png');
 background-position: 0 0 ;
 background-repeat: no-repeat;
 height:8px;
/*fixo*/
}
/****************** LOGO **/
#corpo #logo{
     position:absolute;
    /* background-image:url('../imagens/layout/logo-dsonhos.png');
     background-position: 0 0 ;
     background-repeat: no-repeat;*/
     width : 187px;
     height : 187px;
     top: -50px;
     margin:0 0 0 24px;
     z-index: 80;
}
/****************** MENU **/
#menu{
 position: relative;
 overflow: hidden;
 float:right;
 height : 46px;
 width : 650px;
 background-image : url('../imagens/layout/bg-menu.png');
 background-position : 0 0 ;
 background-repeat : no-repeat;
 margin:15px 13px 0 0;
 padding:10px 0 0 0;
 
 z-index: 4;
 text-align:center;
}
#menu-maior{
 position: relative;
 overflow: hidden;
 float:right;
 height : 46px;
 width : 650px;
 background-image : url('../imagens/layout/bg-menu.png');
 width : 650px;
 background-position : 0 0 ;
 background-repeat : no-repeat;
 margin:31px 20px 49px 0;
 padding:12px 0 0 0;
 z-index: 4;
 text-align:center;
}

#ulMenu{
/* list-style-type:none;
 text-align:center;*/
    /*width : 600px;*/
    width: 650px;
    /*display: table;*/
    /*border-collapse: separate;*/
    /*table-layout: fixed;*/
    /*border: 1px solid green;*/
 }

#ulMenu a:link{
/* display: table-cell;
 float: none;
 width: 1%;*/

 margin: 0 13px; 
 
 color:#732f3c;
 font-size:16px;
 font-weight: bolder;
 text-decoration:none;
 /*font-family: Arial, Helvetica, sans-serif;*/
 
}

#ulMenu a:visited{
 color:#732f3c;
 font-size:16px;
 font-weight: bolder;
 text-decoration:none;
 /*font-family: Arial, Helvetica, sans-serif;*/
}
#ulMenu a:hover{
 color:white;
 font-size:16px;
 font-weight: bolder;
 text-decoration:none;
 /*font-family: Arial, Helvetica, sans-serif;*/
}
#ulMenu a:active{
 color:#732f3c;
 font-size:16px;
 font-weight: bolder;
 text-decoration:none;
 /*font-family: Arial, Helvetica, sans-serif;*/
}

/****************** CONTEUDO **/
#land-slider-maior{
    margin: 0 0 0px 0;
    /*border: 1px solid green;*/
}
#slider-imagem-maior{
    position: relative;
    overflow: hidden;
    height: 280px;
    clear: both;

    background-image : url('../imagens/layout/slide-img-01.jpg');
     background-position : top right;
     background-repeat: repeat;    
    
    /*border: 1px solid green;*/
    z-index: 50;
}
#slider-imagem-menor{
    position: relative;
    overflow: hidden;
    height: 70px;
    clear: both;

    background-image : url('../imagens/layout/slide-img-02.jpg');
     background-position : top right;
     background-repeat: repeat;    
    
    /*border: 1px solid green;*/
    z-index: 50;
}
#quadro-bolos{
    
    position: absolute;
/*    float:right;    */
    margin: 81px 0 0 567px; 
    height: auto;
    z-index: 70;
    /*    border: 1px solid green;*/
    *margin: 14px 0 0 567px; 
}

#box{
    border: 1px solid #f7aebf;
    background-color: #f6dee1;   
    padding: 8px;
}

#conteudo{
 position: relative;
 overflow: hidden;
 padding:15px 0 0 15px;
 border: 1px solid transparent;
 z-index: 2;
 
 min-height: 225px;
 
}

.titulo1{
    color: #732f3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
.titulo2{
    color: #732f3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
}
.titulo3{
    color: #732f3c;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: normal;
}
#titulo-page2{
    margin: 0 0 40px 230px;
    padding: 0;
    
}

/****************** RODAPE **/
#rodape{
 font-size:12px;
 color:#732f3c;
 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
#msg-rodape{
    clear: both;
    text-align: center;
    height: 25px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 14px;
    font-weight: bold;
    color: #c85b6d;
    line-height: 18px;   
    margin: 10px 0 0 0;
}

#rodape a{
 text-decoration:none;
 color:black;
}
#rodape #esq{
 float:left;
 margin-top: 1px;
 padding-bottom: 12px;
 margin-left:8px;
 /*font-family: Arial, Helvetica, sans-serif;*/
}
#rodape #dir{
 margin-top: 1px;
 padding-bottom: 12px;
 float:right;
 margin-right:8px;
 /*font-family: Arial, Helvetica, sans-serif;*/
 color: #0c4e70;
}
#rodape #dirtxt{
 margin-bottom: -3px;
}

