@charset "utf-8";

/* CSS Document */

* { margin: 0; padding: 0; border:0; }



/*-------------------------------------------------------------------------------  CORES D'Sonhos --------/



#732f3c   - vinho escuro da logo (borda)

#efbac0   - rosa da logo

#ae4060   - rosa da linha da logo



#e7dce0   - lilás claro do doce da logo.

#d55f81   - lilás escuro do doce da logo.



#fbf0f3   - rosa bem claro (backgound do box)

#e392af   - rosa da linha da box



#fbc9d1   - um dos rosa claro  do background (são vários pois tem efeito granulado)

#f7899b   - um dos rosa escuro do background (são vários pois tem efeito granulado)







#f2c8cd -> #ecadb4 - degradê do menu. de cima para baixo





*********************************************************************************************************/







/* padronizando tamanhos de cabecalho em todos os browsers */

h1 { font-size: 250%;}

h2 { font-size: 200%;}

h3 { font-size: 150%;}

h4 { font-size: 120%;}



table{

    border-spacing: 0;

}



body { 

background-color: black;

background-image:url('../imagens/layout/bg_image.png');

background-position: top center;

background-repeat: repeat;



font-family:Arial, Helvetica, sans-serif;

color:#732f3c;

		

}

#bg2{

    position:fixed;

    background-image:url('../imagens/layout/bg_image_vertical.png');

    background-position: 0 0 ;

    background-repeat: repeat-x;

    height:480px;

    width:100%;



}

#usuariosonline{
	position:fixed;
	margin-left: 760px;	
	padding-top: 90px;
	color:#d55f81;
	font-size:12px;
	z-index:0;
}



/****************** ESTRUTURA  **/



#corpo{

    position:relative;

    top:96px;

    margin-left :auto;

    margin-right:auto;

    width:907px;

}



#corpo #boxtop {

    background-image:url('../imagens/layout/bg_box_top.png');

    background-position: 0 0 ;

    background-repeat: no-repeat;



    height:23px;/*fixo*/

}



#corpo #boxcenter{

        background-image:url('../imagens/layout/bg_box_center.png');

        background-position: 0 0 ;

        background-repeat: repeat-y;

        

        /*height:585px;*/

}



#corpo #boxbottom{

    background-image:url('../imagens/layout/bg_box_bottom.png');

    background-position: 0 0 ;

    background-repeat: no-repeat;



    height:23px;/*fixo*/

}





/****************** LOGO **/





#corpo #logo{

    position:absolute;



    /*background-image:url('../imagens/layout/logo-high.png');*/

    background-image:url('../imagens/layout/logo.png');

    background-position: 0 0 ;

    background-repeat: no-repeat;



    width	: 245px;

    height	: 249px;



    top: -90px;

    margin-left:-40px;

    z-index: 0;

}



#bgraios{	

    position:absolute;



    background-image:url('../imagens/layout/bg_logo_raios_e_linha.png');

    background-position: 0 0 ;

    background-repeat: no-repeat;



    width	: 880px;

    height	: 385px;



    top: 0;

    margin-left:0;



    z-index: 0;

}

	

/****************** MENU **/

#menu{

    position: relative;

    margin-top:15px;

    float:right;

    padding-top:10px;

    padding-left: 5px;

    margin-right: 40px;

    height		: 44px;    

    width 		: 650px;



    background-image	: url('../imagens/layout/bg_box_menu.png');

    background-position : 0 0 ;

    background-repeat	: no-repeat;



    z-index: 4;

		text-align:center;
}



#ulMenu{

       list-style-type:none;
	
		text-align:right;


}

#ulMenu li{
    float: left;
	text-align:center;
	
	margin-left:auto;
	margin-right:auto;

    padding-left:30px;
	padding-right:10px;

}

#ulMenu li a:link{

    color:#732f3c;

    display: inline;

    

    letter-spacing: 0.04em ;

    font-size:18px;

    font-weight: bolder;

    display:block;

    text-decoration:none;

    font-family: Arial, Helvetica, sans-serif;

}



#ulMenu li a:visited{

    color:#732f3c;

    display: inline;



    letter-spacing: 0.04em ;

    font-size:18px;

    font-weight: bolder;

    display:block;

    text-decoration:none;

    font-family: Arial, Helvetica, sans-serif;

}

#ulMenu li a:hover{

    color:#732f3c;

    display: inline;



    letter-spacing: 0.04em ;

    font-size:18px;

    font-weight: bolder;

    display:block;

    text-decoration:none;

    font-family: Arial, Helvetica, sans-serif;

}

#ulMenu li a:active{

    color:#732f3c;

    display: inline;



    letter-spacing: 0.04em ;

    font-size:18px;

    font-weight: bolder;

    display:block;

    text-decoration:none;

    font-family: Arial, Helvetica, sans-serif;

}



/****************** CONTEUDO **/







#contexto{

    /*position: absolute;*/

    position: relative;
    

    padding-top:50px;

    border: 1px solid transparent;



    z-index: 2;

}



/*#contexto0{

    text-align: right;

    height: 80px;

   // border: 1px solid blue;

    

    padding-right:35px;

    vertical-align: bottom; 

}

*/



#contexto3{



    text-align: center;



    height: 45px;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;

    font-weight: bolder;



    color: #c85b6d;

    line-height: 23px;

     /*//border: 1px solid red;*/

}





#rodape{

	font-size:12px;

	color:#732f3c;

	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);



}







/****************** RODAPE **/

#rodape a{



    text-decoration:none;

    color:black;

}



#rodape #esq{

	float:left;

        margin-top: 1px;

        padding-bottom: 12px;

	margin-left:8px;

        font-family: Arial, Helvetica, sans-serif;

}



#rodape #dir{

        margin-top: 1px;

        padding-bottom: 12px;

		float:right;

		margin-right:8px;

        font-family: Arial, Helvetica, sans-serif;

        color: #0c4e70;

}

#rodape #dirtxt{        

        margin-bottom: -3px;

}

