#conteudo{
    clear: both;
    padding: 0 0 0 10px;
        
}
#tit-contato{
    clear: both;
    float: left;
/*    position: absolute;*/
    margin: 0 0 0 148px;
}
#esquerda{
    float: left;
    margin-left: 20px;
    text-align: center;
    line-height: normal;
    padding: 25px 0 0 50px;
}
#esquerda p{
    margin: 0;
}
#direita{    
    float: right;    
    margin-right: 20px;
    width: 375px;   
    padding: 0px 40px 0 0;
}

input.contato{
    width:300px;
    height:22px;
    border: 1px  solid pink;
    margin-bottom: 5px;
    margin-top:5px;
    padding: 2px;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}
textarea.contato{
    width:304px;
    border: 1px  solid pink;
    margin-bottom: 5px;
    margin-top:5px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}

input.contatoSpam{
    width:90%;
    height:22px;
    border: 1px  solid pink;
    margin-bottom: 5px;
    margin-top:5px;
    padding: 2px;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}

input.enviar{
    width:95px;
    height:27px;
    background-image: url(../../../imagens/button/enviar.jpg);
    background-color:transparent;

    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}
#tdInput{
    text-align: right;
}

td.spam1{
    text-align:left;
}

td.spam2{
    text-align:center;	
}

div.retorno{

    font-size: 12px;
    padding-left:73px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

img.anteSpam{
    width:85px;
    height:26px;
    border: 1px solid pink;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    
}
td.texto{
    font-family: "Trebuchet MS";
	width:100px;
    /*padding-left: 18px;*/
    padding-right: 5px;
	text-align: right;
    font-size: 13px;
    line-height:15px;
}

td.texto0{
    font-family: "Trebuchet MS";
	width:300px;   
    padding-right: 5px;
	text-align: center;
	 vertical-align: text-top;
    font-size: 13px;
    line-height:15px;
}


.email a{
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #003DF5;
}

#telefone{
    padding:  10px 0 10px 0;
    font-family: "Trebuchet MS";
    font-size: 18px;
    font-weight: bolder;
    line-height: 28px;
}