#corpo #boxcenter{
/*     height:990px !important ;*/
}

#conteudo{
 position: relative;
 overflow: hidden;
 padding:15px 0 0 15px;
 border: 1px solid transparent;
 z-index: 2;
 
 min-height: 220px;
 
}

#conteudo #texto{
    float: left;        
    margin: 0 0 0 0;
    width: 580px;
}
#conteudo #texto p{
    margin: 0px 0 15px 0;
    padding: 0 20px 0 0 ;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
}



/*-------------------------------------------------------*/
#box-links{
/*    float: left;*/
    overflow: hidden;
    margin: 0px 0 15px 0px;

}
#box-links #boxlink{
/*    float: left;        */
/*    overflow: hidden;    */
    margin: 0 0 10px 0;
    
     background-color: #ecadb4;
     background-image:url('../../../imagens/layout/bg-box-degrade.png');
     background-position: 0 0 ;
     background-repeat: repeat-x; 
     
     height: 100px;
     width: 280px; 
     
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;     
     
}
#box-links #boxlink img#ico{
    clear: left;
    float: left;
    margin: 7px 4px 0 10px;
}
#box-links #boxlink img#ico-14{
    clear: left;
    float: left;
    margin: 3px 5px 0 2px;
}
#box-links #boxlink .titulo3{
    padding: 8px 0 0 0;
    margin: 10px 10px 5px 10px;
    font-weight: bold;
}
#box-links #boxlink #texto{
    width: 255px;
    font-size: 14px;
    margin: 0 0 0 0;
    text-align: justify;
    line-height: 18px;
}
#box-links #boxlink #texto p{
    margin: 0;
    padding: 0 0 0 10px;
    line-height: 22px;
}
#boxlink a{
    color: #732f3c;
    text-decoration: none;
}
#boxlink a.lin:hover{
    color: #732f3c;
/*    text-decoration: underline;    */
}
#boxlink a:hover{
    color: white;    
}
/*-------------------------------------------------------*/





#fancy-link:link{
    text-decoration: underline;
    color: white;
}
#fancy-link:visited{
    text-decoration: underline;
    color: white;
}
#fancy-link:hover{
    text-decoration: underline;
    color: white;
}
#fancy-link:active{
    text-decoration: underline;
    color: white;
}

/*** set the width and height to match your images **/
#slideshow {
    position:relative;
    height:300px;
    width: 400px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}


