#corpo{
 }
#corpo #boxcenter{
 }

#conteudo{
 position: relative;
 clear: both;
 overflow: hidden;
 padding: 0 0 0 15px;
 border: 1px solid transparent;
 z-index: 2;
 
 min-height: 220px;
 
}
 
/* - - - - - - - - - - EVENTOS lista - - - - */
#eventos-lista{
    clear: both;
    float: left;
    width: 175px;
    margin: 3px 0 0 0;    
    line-height: 15px;
    font-size: 13px;
    text-align: right;     
    border-right: 1px solid #b8848b;
    padding-right: 10px;
}
#eventos-lista a{    
    font-weight: bold;
    text-decoration: none;    
    color: #7d2133;        
    border: 1px solid transparent;
}
#eventos-lista a:hover{        
    text-decoration: none;
    color: #d55f81;
    border: 1px solid transparent;
}
#eventos-lista a.selecionado{    
    font-weight: bold;   
    text-decoration: none;            
    color: #d55f81;
    color: #8c4553;        
    border-right: 1px solid transparent;            
}
#eventos-lista a.selecionado:hover{           
    text-decoration: none;     
    
    
}
.link-album{    
    display: inline-block;
    width: 150px;
    margin: 0 10px 10px 0;
}
/*fotinhas de cada album*/
#fotos-album{    
    margin: 0 0 18px 155px;
    overflow: hidden;    
}
#fotos-album a ,#fotos-album a:hover{
    float: left;    
    margin: 0 0 12px 30px;
    text-decoration: none;  
}
.foto-album{
    background-image: url("../fotos/square-album.png");	
    background-position: 0 0;
    background-repeat: repeat-y;
	width:189px;
	overflow:hidden;
}
.foto-album:hover{    
    background-position: 0 144px;    
}
.desc-album{
	overflow:hidden;
	width:189px;
    color: #7d2133;
    font-size: 13px;
    margin-top: 4px;
    font-weight: bold;
    line-height: 15px;
    
}
.desc-album span{
    font-size: 11px;
    font-weight: normal;
    color: #a4717a;        
}

#image-album{
    margin: 10px 5px 5px 9px;    
    width: 175px;
    height: 129px;
}   

/* - - - - - - - - - - FOTOS de 1 Album  (evento.php)- - -*/
#tit-album{
    float: left;        
    margin: 10px 0 0 35px;
}
#opcoes{
    float: right;
    border: 1px solid transparent;
    margin: 5px 50px 0 20px;
    font-size: 13px;    
}
#opcoes a:link{
    text-decoration: none;
    color: #ee7598;
    color: #d55f81;
}
#opcoes a:hover{
   text-decoration: underline;
    color: #ee7598;
}

#fotos{
    clear: both;
    margin: 0 0px 10px 33px;
    overflow: hidden;
   
}
#fotos a{    
    float: left;
    margin: 0 20px 15px 0;
}

.foto{
    background-image: url("../fotos/square-foto.png");
    background-position: 0 0;
    
    
}
.foto:hover{    
    background-position: 0 139px;        
}
#image{
    margin: 5px;    
    width: 175px;
    height: 129px;
}   