#conteudo{
    clear:both;
    padding: 20px 0 0 15px;
}
#esquerda{
    float: left;
    margin-left: 0px;
    text-align: center;
    line-height: normal;
    padding: 0 0 0 0px;
}
#esquerda p{
    margin: 0;
}
#direita{    
    float: right;    
/*    overflow: hidden;*/
    margin: 0 15px 0 0 ;
    padding: 0;
    /*height: 390px;*/
    width: 660px;
    /*border: 1px solid green;*/
}

.clear{
    clear:both;
}

/*CSS do MEnu Lateral*/
.menu{
    width: 185px;
    text-align: left;
}
#titMenu{
    padding: 2px 0;
    margin: 0 0 5px 0;
    font-size: 20px;
    /*font-weight: bold;*/
    /*border-right: 1px solid #732f3c;*/
}
.menu .alink{
    padding: 7px 5px 7px 8px;
    margin: 0 0 6px 0;
    
    font-size: 14px;
    /*font-weight: bold;*/
    
    
    /*border: 1px solid #e9c3cc;*/    
    border-left: 2px solid #F0C0C0;
    background-color: #FAE0E0;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; 
/* background-image:url('../../../imagens/layout/bg-menu.png');
 background-position: center top ;
 background-repeat: repeat-y;    */
    
}
.menu .alink:hover{
    /*background-position: center 32px;*/
    /*background-color: #f2c7cc;*/
    background-color: white;
    /*font-weight: bold;*/
    /*color:#A35f6c;*/
}
/*.menu{
   text-decoration: none;
   color: #732f3c;
   font-size: 14px;
}*/


#alb-titulo{
    padding: 2px 0;
    margin: 0 0 5px 0;
    font-size: 20px;
    /*font-weight: bold;*/
    /*border-right: 1px solid #732f3c;*/
    color: #732f3c;
}
.albvoltar {
    float: right;
    margin: 8px 8px 0 0 ;
}
.albvoltar a{
    font-size: 14px;
    color:#f0a0a0;
}

.small{
    font-size: 75%;
    font-weight: normal;
    margin: 5px 0 0 0px;    
    color: #8A4254;
}

.error{
    padding: 10px 13px;
    font-size: 12px;
    border: 1px solid #efbac0;
    background-color: #FcBdC4;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;  
}

.albsubalbs{
    clear: both;
    padding: 5px 0 5px 0;
}

.albfotos{
    clear: both;
}

.box{
    
    float: left;
    width: 122px;
    height: 102px;
    /*border: 1px solid #732f3c;*/
    margin: 0 6px 8px 0;
    /*overflow: hidden;*/
    
    border: 2px solid transparent;
/*    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
    
    box-shadow: 0px 0px 2px #9A9A9A;
    background: white;
    
}
.box:hover{
    /*border: 1px solid #ecadb4;*/
    /*border:1px solid #f2c8cd;*/
    box-shadow: 0px 0px 5px #444;
}

.boximg{
    width: 120px;
    height: 100px;
    margin: 0 auto ;
    background: white;
    
    
    border: 1px solid #ccc;
    /*overflow: hidden;*/
/*    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
    
}
.ftoimg{
    width: 120px;
    height: 100px;
    margin: 0 auto;
}

/* TELA INICIAL */
a{ text-decoration:  none; color: inherit}

.linksubalbum{
    float: left;
    /*border: 1px solid red;*/
}

.itemalbum{
    /*overflow: hidden;*/
    /*overflow: hidden;*/
    
    /*width: 186px;*/
    /*height: 120px;*/
    margin: 0 17px 0px 17px;
    /*padding: 0 4px 0 0px;*/
    
    /*border-bottom:1px solid #f2c8cd;*/
    /*border-bottom:1px solid #F7CDD3;*/
    
    /*border-bottom:2px solid #f2c8cd;*/
    /*background-color: #FFEEEE;*/
    
/*    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    */
    /*border: 1px solid sienna;*/
}
.alb-img{
    /*float: left;*/
    /*overflow: hidden;*/
    /*height: 90px;*/
    
    /*width: 100px;*/
    margin: 0;
    padding: 4px;
    background-color: white;
    box-shadow: 0px 0px 3px #9A9A9A;   
    
    /*border:1px solid #ccc;*/
/*    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    */
}
.alb-img img{
    width: 175px;    
    height: 129px;
    overflow: hidden;
    
}
.alb-titulos{
    /*border: 1px solid #ccc;*/
    float: left;
    width: 175px;
    height: 50px;
    /*max-height: 60px;*/
    /*overflow: hidden;*/
    margin: 4px 0 4px 0px;
    
}
.alb-titulo1{
    overflow: hidden;
    font-size: 13px;    
    font-weight: bold;
    /*line-height: 18px;*/
    margin: 0 0 1px 0;
    max-height: 36px;
}
.alb-titulo2{
    overflow: hidden;
    font-size: 12px;
    color:#A35f6c;
    max-height: 36px;
}