.menu{margin: auto auto; width:210px; list-style:none;background:rgb(255,255,255);}
.menu li{padding:0; margin:0 0 1px 0; height:25px; display:block; }
.menu li a{text-align:left;height:25px; padding:0px 20px; font:16px Verdana, Arial, Helvetica, sans-serif; color:rgb(255,255,255); display:block; background:url('../images/verMenuImages.png') 0px 0px no-repeat; text-decoration:none; outline:none;}
.menu li a:hover{background:url('../images/verMenuImages.png') 0px -29px no-repeat; color:rgb(242,242,242);}
.menu li a.active, .menu li a.active:hover{background:url('../images/verMenuImages.png') 0px -30px no-repeat; color:rgb(255,255,255);}
.menu li a span{line-height: 20px;}

