#corpo #boxcenter{
/*     height:990px !important ;*/
}


#conteudo{
 position: relative;
 clear: both;
 overflow: hidden;
 padding: 20px 0 0 25px;
 border: 1px solid transparent;
 z-index: 2;
 
 min-height: 220px;

}

#conteudo #texto{
    margin: 0 40px 0 0;
}
.divcategorias{
    /*border: 1px solid green;*/
    overflow: hidden;
    margin: 25px 10px 0 0;
}
.boxcategoria{
    float: left;
    border: 1px solid  #ecadb4;
    width: 200px;
    margin: 0 39px 40px 39px;   
    height: 180px;
    overflow: hidden;
    box-shadow: 2px 2px 6px #C0C0C0;    
    
    background-color: #FfC2C2;
    background-color: #efbac0;
    
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;        
}
.linkboxcategoria{
    text-decoration: none;
    color: #732f3c;
}
.categoriatit{
    text-align: center;
    padding: 6px 0 0 0;
    font-size: 15px;
    font-weight: bold;
}
.boxcategoria .categoriaimg{
    width: 190px;
    height: 140px;
    margin: 8px auto 8px auto;
    overflow: hidden;
    
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;     
}


.boxproduto{
    float: left;
    border: 1px solid  #ecadb4;
    width: 120px;
    margin: 0 10px 15px 10px;   
    height: 120px;
    overflow: hidden;
    box-shadow: 2px 2px 6px #C0C0C0;    
    
    background-color: #efbac0;
    background-color: white;
    
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;   
}
.itemproduto{
    text-align: center;
    display: table-cell;    
    vertical-align: middle;
    width: 120px;
    padding: 4px 0;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
}
.itemprodutopreco{
    position: relative;
    text-align: center;
    margin: 42px 0 0 0;
    padding: 4px 0;
    /*height: 30px;*/
    font-size: 11px;
    font-weight: bold;
    background-color: white;    
}
.boxprodutoimg{
    width: 96px;
    height: 96px;
    margin: 0 auto;
    overflow: hidden;
    
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;      
}






.msg{
    padding: 6px;
    border: 1px solid rgb(248,114,117);
    background: rgb(253,225,226);
    color: rgb(116,9,13);
    font-size: 14px;
    margin: 5px 40px 5px 0;
    
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;      
}

#conteudo #texto p{
    margin: 10px 0 0 0;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
}

.formulario{
    
}
.linha{
    clear: both;
    padding: 10px 0 15px 0;
}
.label{
    float: left;
    width: 350px;
    text-align: right;
    margin-right: 10px;
    font-size: 15px;
}
.campo{
    float: left;
    
}
.campo input{
    width: 300px;
    height: 22px;
    border: 1px solid pink;        
    padding: 0 0 0 4px;
}
.campo select{
    width: 306px;
    height: 22px;
    border: 1px solid pink; 
}
.divcheckbox{
    margin: 10px 150px 0 150px; 
    border-top: 1px solid rgb(115, 47, 60);
    padding: 10px 5px 0 5px;
    font-size: 15px;
    
}
.btn-submit{
    padding: 10px;
    color: rgb(115, 47, 60);
     background-color: #ecadb4;
     background-image:url('../../../imagens/layout/bg-box-degrade.png');
     background-position: 0 0 ;
     background-repeat: repeat-x;     
    font-size: 14px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;   
}
.btn-submit:hover{
    cursor: pointer;
    color: white;
}



.planos{
    overflow: hidden;
    padding: 15px 0 0 0;
}
.box-plano{    
    float: left;
    width: 395px;
    margin: 0 38px 35px 0;
    border: 1px solid rgb(223, 179, 187);
    background: rgb(250,241,243);
    padding: 7px 0 0 0;
    
}
.tit-plano{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid   rgb(223, 179, 187);
    padding: 0px 0 4px 7px;
}
.subtit-plano{
    font-size: 14px;
    font-weight: bold;
    
    padding: 7px 0 7px 7px;
}

.text-plano{
    font-size: 14px;
    padding-left: 10px;
}

.preco-plano{
    font-size: 14px;
    font-weight: bold;    
    padding: 4px 7px 7px 7px;
    text-align: right;
}


.tabela{
    overflow: hidden;
    padding: 15px 0 0 0;
}

.box-tabela{
    overflow: hidden;
    width: 520px;
    border: 1px solid   rgb(223, 179, 187);
    background: rgb(250,241,243);
    /*margin: 0 auto;*/
    font-size: 15px;
}

.tabela-produto{
    clear: both;
    overflow: hidden;
    padding: 10px 5px 10px 10px;
    margin-bottom: 6px;
    border-bottom: 1px dotted rgb(223, 179, 187);
}
.tabela-produto-nome{
    overflow: hidden;
    float: left;
    width: 200px;
    font-weight: bold;
}
.tabela-produto-preco{
    overflow: hidden;
    float: left;    
}


.atendimentos{
    margin: 0 30px 0 0;
    font-size: 14px;
}

.agende{
    margin: 10px 30px 10px 0;
    font-size: 14px;
}


#btn-planos{
    text-decoration: none;
}
#btn-planos:hover{
    cursor: pointer;
}
#btn-planos.selecionado{
    text-decoration: underline;        
}
#btn-tabela{
    text-decoration: none;    
}
#btn-tabela:hover{
    cursor: pointer;    
}
#btn-tabela.selecionado{
    text-decoration: underline;            
}

#cliqueaqui{
    text-decoration: underline;
}
#cliqueaqui:hover{
    color: blue; 
    cursor: pointer;
}

#fancy-link:link{
    text-decoration: underline;
    color: white;
}
#fancy-link:visited{
    text-decoration: underline;
    color: white;
}
#fancy-link:hover{
    text-decoration: underline;
    color: white;
}
#fancy-link:active{
    text-decoration: underline;
    color: white;
}

/*** set the width and height to match your images **/
#slideshow {
    position:relative;
    height:300px;
    width: 400px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}


