/* - - - - - - - - - - - - DEPOIMENTOS - - - - - - - - - */
/* - - - - - - - - - - - - CONTEUDO - - - */
#conteudo{
    padding: 0 0 20px 10px;
    height: 600px;
    /*background: url(../img/bg-image.jpg) 0 0 repeat-x;*/    
    
}

#menuesq { float: left; width: 175px; }

#menuesq button{ width: 165px; text-align: left}


#conteudodir{
    width: 770px;
    float: right;
}

/* - - - - - - - - - TODOS OS DEPOIMENTOS - - */
#deps ul{
    list-style: none;
}
#deptop{
    overflow: hidden;
    border-bottom: 2px solid #3276b1;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
}
.deptit{
    float: left;
    overflow: hidden;
    width: 200px;
    /*padding-top: 0;*/
    /*margin-top: 0;*/
    
    /*border: 1px solid green;*/
}
#depcontrole{
    float: right;
    margin: 6px 0 0 0;
    /*border: 1px solid green;*/
}

.itemdep {
    width: 100%;
    overflow: hidden;
    padding: 6px 6px;
    margin: 0 0 5px 0;
    /*height: 40px;*/
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}
.itemdep:hover{
    background-color: #EAEAEA;    
}
.itemdepmove{
    float: right;
    /*display: none;*/
    /*border: 1px solid red;*/
    margin: 5px 7px 0 4px;
}

.itemdep .thumbimg{
    position: absolute;
    margin: -6px 0 0 -145px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px;
    width: 134px;
    /*display: none;*/
}
.thumbimg img{
    width:120px;
}

.itemdep .atitulo{
    overflow: hidden;
    float: left;
    margin: 2px 10px 0 10px;
    /*padding: 0;*/
    width: 180px;
    font-size: 14px;
    font-weight: bold;
    /*border: 1px solid red;*/
}
.itemdep .adescricao{        
    float: left;
    overflow: hidden;    
    text-overflow:ellipsis;
    white-space: nowrap;
    
    margin: 6px 0 0 0;
    width: 370px;

    font-size: 12px;
    line-height: 14px;    
}
.itemcontrole{
    float: right;
    /*border: 1px solid red;*/
    margin: 2px 0 0 0;
}

.linklermais{
    float: left;
    margin: 6px 0 0 0px;
    font-size:11px;
    /*display: none;*/
}

/* - - - - - - - - - ADICIONAR DEOPIMENTO - - */
.form-adddep{
    /*width: 400px;*/
}
.buttonlinha{
    /*text-align: right;*/
    padding: 10px 0 0 0;
}
.addesquerda{
    float: left;
    overflow: hidden;
    width: 365px;
    /*border: 1px solid green;*/
}
.adddireita{
    float: right;    
    /*border: 1px solid red;*/
    overflow: hidden;
    width: 350px;
    
}
.addcontrol{
    clear: both;
    border-top: 1px dotted #D0D0D0;
    margin: 15px 0 0 0;
}

#imgedit{
    border:1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;  
    
    margin: 3px 0 5px 0;
}

