@charset "utf-8";
/* CSS Document */
*{ margin: 0; padding: 0; border:0; }
/* padronizando tamanhos de cabecalho em todos os browsers */
h1 { font-size: 250%;}
h2 { font-size: 200%;}
h3 { font-size: 150%;}
h4 { font-size: 120%;}

/* Tela de LOGIN - index.php */

body{
    background-image: url(../img/bg_image.jpg);
    background-position:  0 0;
    background-repeat: repeat;
}

.conteudo{
    width: 300px;
    margin: 0 auto;
}
#msgtext{
    margin: 0px 0 10px 0;
}
.inputlinha{
    margin: 2px 0 10px 0px;
    /*overflow: hidden;*/   
}
.inputlinha span{
    width: 90px;
    text-align: right;
}
.buttonlinha{
    text-align: right;
    margin: 10px 0 0 0;
}