@charset "utf-8";
/* CSS Document */
*{ margin: 0; padding: 0; border:0; }
/* padronizando tamanhos de cabecalho em todos os browsers */
h1 { font-size: 250%;}
h2 { font-size: 200%;}
h3 { font-size: 150%;}
h4 { font-size: 120%;}

body{
    
}

.corpo{
    width: 960px;
    margin: 0 auto;     
}
.glyphicon{
    margin: 0 3px 0 0;
}
/* - - - - - - - - - - - - BARRA TOPO - - */
#barratopo{
    border-bottom: 1px solid #606060;    
    height: 50px;
    background: #24669f;
    background: url(../img/bg-barratopo.png) 0 0 repeat-x;    
}
.titlemain{ float: left;}
.titlemain img{ float: left; width: 44px; height: 44px; margin: 2px 10px 0 0;}
.titlemain p{ float: left; font-size: 20px; line-height: 18px; margin: 8px 0 0 0; color: white;}
.titlemain p span{ font-size: 14px; color: #DFDFDF;}

.menutopo { float: left; margin: 0 0 0 25px;}
.menutopo a { color: white; }

.divsair {float: right; margin: 15px 0 0 0;}
.divsair a:link,
.divsair a:active,
.divsair a:hover,
.divsair a:visited {color: white;}
/* - - - - - - - - - - - - BARRA INICIO - */
#barrainicio{
    /*height: 150px;*/
    background: white;    
    background: url(../img/bg_image.jpg) 0 0 repeat;    
    border-bottom: 1px solid #DFDFDF;
}
/* - - - - - - - - - - - - CONTEUDO - - - */
#conteudo{
    padding: 10px 0 0 10px;
    height: 600px;
    /*background: url(../img/bg-image.jpg) 0 0 repeat-x;*/    
    
}
/* - - - - - - - - - - - - RODAPE - - - - */
#rodape{
    height: 30px;
}