/* - - - - - - - - - - - - PORTFOLIO - - - - - - - - - */
/* - - - - - - - - - - - - CONTEUDO - - - */
#conteudo{
    padding: 0 0 0 10px;
    height: 600px;
    /*background: url(../img/bg-image.jpg) 0 0 repeat-x;*/    
    
}

#menuesq { float: left; width: 175px; }
#menuesq button{ width: 165px; text-align: left}


#conteudodir{
    width: 770px;
    float: right;
}

/* - - - - - - - - - TODOS OS ALBUNS- - - */
.itemalbum{    
    float: left;
    margin: 0 4px 0px 10px;
    width: 240px;
}
.itemalbum .thumbnail{
    
}
.itemalbum .thumbnail .thumbimg{
    width: 120px;
    height: 100px;
    margin: 5px auto 0 auto;
}
 .itemalbum .thumbnail .caption{
    padding: 5px;
} 
.itemalbum .thumbnail .caption .atitulo{
    overflow: hidden;
    margin: 4px 0 2px 0;
    padding: 0;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
}
.itemalbum .thumbnail .caption .adescricao{        
    overflow: hidden;
    margin: 7px auto 0 auto;

    height: 30px;
    font-size: 12px;
    line-height: 14px;

    /*border:1px solid red;*/
    
}

/* SUB ALBUM */
.itemalbum-sub{    
    float: left;
    margin: 0 4px 8px 10px;
    width: 170px;
}
.itemalbum-sub .thumbnail{
    margin-bottom: 5px;
}
.itemalbum-sub .thumbnail .thumbimg-sub{
    width: 120px;
    height: 100px;
    margin: 0 auto;
}
.itemalbum-sub .thumbnail .caption{
    padding: 5px;
}
.itemalbum-sub .thumbnail .caption .atitulo-sub{
    margin: 4px 0 2px 0;
    padding: 0;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    overflow: hidden;
    height: 28px;
}
.itemalbum-sub .thumbnail .caption .adescricao-sub{
    overflow: hidden;
    /*border:1px solid red;*/
    height: 28px;
    font-size: 11px;
    line-height: 12px;
    
    overflow: hidden;
/*    text-align: center;*/
    margin: 2px auto 4px auto;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    
}

/* - - - - - - - - - ORDENAR ALBUM- - - */

.ordemalbuns{
    /*border: 1px solid green;*/
    /*overflow: hidden;*/
    /*width: 600px;*/
    /*height: 300px;*/
    margin: 0 0 30px 0;
}

#listalbuns{
    margin: 0 auto;
    /*border: 1px solid blue;*/
    width: 490px;
    list-style: none;
}

.albumpai{
    /*overflow: hidden;*/
    position: relative;
    list-style: none;
    margin: 0 80px 4px 75px;
    padding: 5px 7px 7px 7px;
    
    border: 1px solid #CCC;
    background-color: #F7F7F7;   
    
    font-size: 14px;
    font-weight: bold;  
    color: #444;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    
/*    width: 280px;
    float: left;*/
}
.albumpai:hover{
    border: 1px solid #AAA;
    background-color: #F5F5F5;   
    cursor: move;
}
.albumsub{
    /*overflow: hidden;*/
    border:1px solid #E5E5E5;
    border-left:2px solid #b6cce2;
    background-color: #F0F0F0;
    list-style: none;
    margin: 4px 0 0 20px;
    padding: 5px 10px 6px 6px;
    
    font-weight: bold;
    font-size: 12px;
/*    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    */
}
.albumsub:hover{    
    border-left:2px solid #89abcd;
}
.numordem{
     float: right;
     margin: 0px 0 4px 0;
     color: #3276b1;
     font-size: 16px;
     font-weight: bold;
    
     
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
        
}
.linkgoalb{
    float: right;
    display:none;
    margin: 0;
    padding: 0 2px;    

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}

.listfoto{
    position: absolute;
    margin: -6px 0 0 -80px;
    /*width: 60px;*/
    padding: 4px;
    border: 1px solid #DDD;            
    background-color: #F5F5F5;
}
.listfoto img{
    width: 60px;
    border: 1px solid #CCC;            
}

.slistfoto{
    position: absolute;
    margin: -5px 0 0 305px; 
    padding: 4px;
   border: 1px solid #E5E5E5;  
   background-color: #F0F0F0;
}
.slistfoto img{
    width: 60px;
   /*border: 1px solid #CCC;*/
}
/* - - - - - - - - - ADICIONAR ALBUM- - - */
.form-addalbum{
    /*width: 400px;*/
}
.buttonlinha{
    /*text-align: right;*/
    padding: 10px 0 0 0;
}
.addalbesquerda{
    float: left;
    overflow: hidden;
    width: 365px;
    /*border: 1px solid green;*/
}
.addalbdireita{
    float: right;    
    /*border: 1px solid red;*/
    overflow: hidden;
    width: 350px;
    
}
.addalbcontrol{
    clear: both;
    border-top: 1px dotted #D0D0D0;
    margin: 15px 0 0 0;
}

#imgedit{
    border:1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;  
    
    margin: 3px 0 5px 0;
}

/* - - - - - - - - - ALBUM- - - */
 
#subalbumfotos{
    padding: 6px 0 0 0;
    border-bottom: 2px solid #CCC;
}
#albumfotos{
    /*overflow: auto;*/
    margin: 0 auto;
    border: 1px solid transparent;
    background-color: #F2F2F2;
    padding: 5px 0 0px 0;
    margin: 0 0 10px 0;
}
.tfoto{
    overflow: hidden;
    float: left;       
    margin: 0 2px 6px 2px;
    border: 1px solid transparent;
}
.tfoto .thumbnail{    
    overflow: hidden;
    margin: 0 0px 0 0px;
    padding: 0px;
    border-radius: 0;
}
.tfoto .btnexcluir{
    display: none;
    margin: 0 0 0 0;
    padding: 2px 0;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #FFEbEc;
}
.tfoto .btnexcluir:hover{
    cursor: pointer;
}    
.afoto{
    /*float: left;*/
    overflow: hidden;
    width: 120px;
    height: 100px;
    overflow: hidden;
    /*border: 1px solid #c2c2c2;*/
    /*margin: 0 8px 10px 0;*/

-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
    
}

#controle1{    
     margin:0px 3px 10px 0;
     padding: 0 0 5px 0;
     border-bottom: 2px solid #3276b1;
}
#controle2{
     float: right; 
     margin:0px 3px 5px 0;
}

.acontrole{
    float: right;
    margin: 0 0 0px 0;
}


/* - - - - - - - - - ADD  VIDEO  - - */

.addesquerda{
    float: left;
    width: 350px;
    margin: 0 25px 0 0;
}
.adddireita{
    float: left;
    /*width: 360px;*/ 
}

#iframevideo{
    padding: 5px;
    border: 1px dotted #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:none;
}


/* - - - - - - - - -  VIDEOS  - - */
.boxvideos{
    padding: 0 0 10px 29px;
}
.livideo{
    overflow: hidden;
    list-style: none;
    width: 350px;
    float: left;
    margin: 0 10px 10px 0;
}
.itemvideo{
    overflow: hidden;
    padding:5px;
    border: 1px solid #BBB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
}
.itemvideo:hover{
    background-color: #EFEFFF;
}
.videopic{
    float: left;
    width: 120px;    
}
.videopic img{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;       
}

.videotit{
    float: left;
    width: 215px;
    font-weight: bold;
    padding: 0 0 5px 7px;
}
.videodescricao{
    float: left;
    width: 220px;
    font-weight: bold;
    padding: 0 0 5px 10px;
}
.videocontrole{
    position: absolute;
    /*float: left;*/  
    margin: 68px 0 0 239px;
}
.videomove{
    display: none;
    position: absolute;
    /*float: left;*/  
    margin: 57px 0 0 304px;
}
#vidtop{
    overflow: hidden;
    border-bottom: 2px solid #3276b1;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
}
.vidtit{
    float: left;
    overflow: hidden;
    width: 200px;
}
#vidcontrole{
    float: right;
    margin: 6px 0 0 0;
    /*border: 1px solid green;*/
}