/* - - - - - - - - - - - - PRODUTOS - - - - - - - - - */
/* - - - - - - - - - - - - CONTEUDO - - - */
#menuesq { float: left; width: 175px; }

#menuesq button{ width: 165px; text-align: left}

#conteudodir{
    width: 770px;
    float: right;
    margin: 0 0 30px 0;
}

/* - - - - - - - - - TODOS OS PRODUTOS - - */
.catsprod{
    clear: both;
    overflow: hidden;
    margin: 15px 0 0 0; 
    /*border:1px solid fuchsia;*/
    border-bottom: 2px solid #E5E5E5;
}
.titcatsprod{
    border-bottom: 2px solid #DADADA;
    font-size: 18px;
    margin: 0 0 0px 0; 
    padding: 0 0 2px 0; 
    /*font-weight: ;*/
}

.lisort{
    float: left;
    /*width: 112px;*/
    /*margin: 0 10px 10px 0;*/
}
#prods ul{
    list-style: none;
}
#prodtop{
    overflow: hidden;
    border-bottom: 2px solid #3276b1;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
}
.prodtit{
    float: left;
    overflow: hidden;
    width: 200px;
    /*padding-top: 0;*/
    /*margin-top: 0;*/
    
    /*border: 1px solid green;*/
}
#prodcontrole{
    float: right;
    margin: 6px 0 0 0;
    /*border: 1px solid green;*/
}


.prodscabecalho{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px dotted #A0A0A0;
    margin: 0 0 0px 0px;
    padding: 2px 0;
    font-size: 12px;
    font-weight: bold;
    background-color: #F0F0F0;
}
.prodscabecalho div{
    /*border: 1px solid green;*/
}

.prodscabecalhonome{
    float: left;
    width: 250px;
    padding: 0 0 0 4px;
}
.prodscabecalhoverpreco{
    float: left;
    width: 100px;
    
}
.prodscabecalhopreco{
    float: left;
    width: 160px;
    
}
.prodscabecalhoqtdfotos{
    float: left;
    width: 120px;
    
}
.prodscabecalhocontrole{
    float: left; 
    
}
.prodscabecalhomove{
    float: left; 
    
}
.itemprod {
    width: 770px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;  
    padding: 3px 0 2px 0;
    font-size: 12px;
}
.itemprod:hover{
    background-color: #E0E0FF;    
}
.itemprodmove{
    float: right;
    margin: 0 0px 0 4px;
}

.itemprod .thumbpic{
    float: left;
    width: 98px;
    height: 98px;
}
.itemprod .thumbimg{
    position: absolute;
    margin: -6px 0 0 -145px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px;
    width: 134px;
}
.thumbimg img{
    width:120px;
}

.itemprod .atitulo{
    overflow: hidden;
    float: left;
    /*margin: 2px 10px 3px 0;*/
    width: 250px;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 4px;
}
.itemprod .verpreco{
    float: left;
    width: 100px;
}

.itemprod .preco{
    float: left;
    width: 160px;
}
.itemprod .qtdfotos{
    float: left;
    width: 120px;    
}
.itemprod .adescricao{        
  
}
.itemcontrole{
    float: right;
    /*width: 140px;*/
    margin: 0 0 0 0;
}
.itemcontrole a{
    float: left;
    margin: 0 0 0 0;
}



/*.itemprod {
    width: 100%;
    overflow: hidden;
    padding: 6px 6px;
    margin: 0 0 5px 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}
.itemprod:hover{
    background-color: #F7F7F7;    
}
.itemprodmove{
    float: right;
    margin: 5px 0px 0 4px;
}

.itemprod .thumbpic{
    float: left;
    width: 98px;
    height: 98px;
}
.itemprod .thumbimg{
    position: absolute;
    margin: -6px 0 0 -145px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px;
    width: 134px;
}
.thumbimg img{
    width:120px;
}

.itemprod .atitulo{
    overflow: hidden;
    float: left;
    margin: 2px 10px 3px 0;
    width: 180px;
    font-size: 12px;
    font-weight: bold;
}
.itemprod .adescricao{        
    float: left;
    overflow: hidden;    
    text-overflow:ellipsis;
    white-space: nowrap;
    
    margin: 6px 0 0 0;
    width: 370px;

    font-size: 12px;
    line-height: 14px;    
}
.itemcontrole{
    float: right;
    margin: 2px 0 0 0;
}*/

.linklermais{
    float: left;
    margin: 6px 0 0 0px;
    font-size:11px;
    /*display: none;*/
}

/* - - - - - - - - - ADICIONAR PRODUTO - - */
.form-addprod{
    /*width: 400px;*/
}
.buttonlinha{
    /*text-align: right;*/
    padding: 10px 0 0 0;
}
.addesquerda{
    float: left;
    overflow: hidden;
    width: 335px;
    /*border: 1px solid green;*/
}
.adddireita{
    float: right;    
    /*border: 1px solid red;*/
    overflow: hidden;
    width: 380px;
    
}
.addcontrol{
    clear: both;
    border-top: 1px dotted #D0D0D0;
    margin: 15px 0 0 0;
}
#selectcat select{
    border:1px solid #CCC;
    background-color: #fff;
    height: 34px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;      
    padding: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;    
}
#imgedit{
    border:1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;  
    
    margin: 3px 0 5px 0;
}

/* * * * * * * * * * * * * * * * * * * *   C A T E G O R I A S  * * * * * * * */
/*TODAS AS CATEGORIAS*/

#cats ul{
    list-style: none;
    /*border:  1px solid red;*/
}
.catlisort{
    float: left;
    width: 500px;
    margin: 0 5px 5px 0;
}
#cattop{
    overflow: hidden;
    border-bottom: 2px solid #3276b1;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
}
.cattit{
    float: left;
    overflow: hidden;
    width: 200px;
    /*padding-top: 0;*/
    /*margin-top: 0;*/
    
    /*border: 1px solid green;*/
}
#catcontrole{
    float: right;
    margin: 6px 0 0 0;
    /*border: 1px solid green;*/
}

.itemcat {
    width: 100%;
    overflow: hidden;
    padding: 6px 6px;
    margin: 0 0 5px 0;
    /*height: 40px;*/
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}
.itemcat:hover{
    background-color: #EAEAEA;    
}
.itemcatmove{
    float: left;
    /*display: none;*/
    /*border: 1px solid red;*/
    margin: 5px 0px 0px 4px;
}

.itemcat .thumbimg{
    position: absolute;
    margin: -6px 0 0 -145px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px;
    width: 134px;
    /*display: none;*/
}
.thumbimg img{
    width:120px;
}

.itemcat .atitulo{
    overflow: hidden;
    float: left;
    margin: 2px 10px 3px 5px;
    /*padding: 0;*/
    width: 180px;
    font-size: 14px;
    font-weight: bold;
    /*border: 1px solid red;*/
}
.itemcat .adescricao{        
    float: left;
    overflow: hidden;    
    text-overflow:ellipsis;
    white-space: nowrap;
    
    margin: 6px 0 3px 7px;
    width: 424px;

    font-size: 12px;
    line-height: 14px;    
}

/*   ADD / EDITAR    PRODUTOS  */
#boxprodfotos{
    overflow: hidden;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    margin: 0 0 8px 0;
    padding: 11px 0 0px 11px;
}
.prodfotos{
    float: left;
    margin: 0 9px 9px 0;
}
.prodfotosopen{
    position: absolute;
    /*border: 1px solid green;*/
    width:64px;
    height: 49px;
    text-align: center;
    padding: 8px 0 0 0;
}
.prodfotosopen:hover{    
    cursor: pointer;
    color:white;   
}
.prodfotosdel{
    position: absolute;
    /*border: 1px solid red;*/
    margin: 49px 0 0 32px;
    width:32px;
    height: 15px;
    text-align: center;
    font-size:12px;
    line-height: 12px;
    padding: 0;
    color:white;
}
.prodfotosdel:hover{
    background-color: red;
    cursor: pointer;
    color:white;
}
.prodfotosmove{
    position: absolute;
    /*border: 1px solid red;*/
    margin: 50px 0 0 0;
    width:32px;
    height: 15px;
    text-align: center;
    font-size:12px;
    line-height: 12px;
    padding: 0;
    color:white;
}
.prodfotosmove:hover{
    background-color: white;
    cursor: pointer;
    color:black;
}


.prodfotos img{
    width: 64px;
    height: 64px;
}

#upftoinfo{
    padding: 2px 0 4px 4px;
}