/* - - - - - - - - - - - - UPLOAD DE FOTOS - - - - - - - - - */
/* - - - - - - - - - - - - CONTEUDO - - - */
#conteudo{
    padding: 0 0 0 10px;
    /*height: 600px;*/
    /*background: url(../img/bg-image.jpg) 0 0 repeat-x;*/    
    
}

.itemalbum{
    
    margin: 0 0 5px 0;
}

.form-addalbum{
    width: 400px;
}

.buttonlinha{
    margin: 15px 0 0 0;
}

#upesquerda{
    float: left;
    /*border: 1px solid green;*/
    width: 410px;
    margin: 0 25px 0 0;
    
}
#updireita{
    float: left;
    width: 470px;
    /*border: 1px solid red;*/

}

#upinformacoes{
    /*padding: 5px 15px 5px 15px;*/
    /*border: 1px solid #CCC;*/
/*    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;      
    */
    background-color: #F0F0F0;
    font-size: 13px;
}
#upinfotit{
    font-size: 20px;    
}
.subinfo{
    font-size: 12px;
    padding: 2px 0 10px 15px;
}


#boxupfotos{
    overflow: hidden;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    margin: 0 0 4px 0;
    padding: 6px 0 0px 6px;
}
.fotoup{
    float: left;
    margin: 0 6px 6px 0;
}

.fotoupimg{
    width: 60px;
}
#divStatus{
    font-size: 12px;
    color: #999;
    padding: 5px;
    margin: 0 0 0 5px;
}
#boxupfotosinfo{
    border-bottom: 1px solid #ccc;
    margin: 5px 0 5px 5px;
    font-size: 12px;
    width:374px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
    padding: 5px;
}