#corpo{
}
#corpo #boxcenter{
    /*min-height: 200px;*/  
    /*border: 1px solid green;*/
}
#conteudo{
    position: relative;
    clear: both;
    overflow: hidden;
    padding: 0 0 0 15px;
    border: 1px solid transparent;
    z-index: 2;
    min-height: 300px;
}

#titleft{
    margin: 10px 0 0 40px;
}
#titleft-dep{
    margin: 10px 0 0 30px;
}

#sombra{
    border: 1px solid #e3d8dc;
    width: 796px;
}
#box{
    margin: 0 40px 0 25px;
    border: 1px solid #f7aebf;
    background-color: #faeaec;
}
#imp{
    margin: 20px;
    width: 160px;
}
#imgs{
    margin: 0 0 0px 25px;
}
#img-quebradelinha{
    width:500px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*DEPOIMENTOS*/

#box-depoimento{       
   overflow: hidden;       
   line-height: 20px;
   font-size: 13px;
   background-image: url('../imgdepoimentos/fecha-aspas.png');
   background-position: bottom right;
   background-repeat: no-repeat;         
   padding: 20px 10px 20px 10px;      
   margin:  0 10px 0 20px;
   width: 810px;      
    border-bottom: 1px dotted #7d2133;
}
#box-depoimento a{
    float: left;
    overflow: hidden;
}
#box-depoimento img{
    float: left;    
    overflow: hidden;
    margin: 0 10px 0 0 ;
}
#box-depoimento #depoimento-img{
    float: left;    
    overflow: hidden;
    margin: 0 10px 0 0;
    width: 140px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
#box-depoimento #depoimento-texto{
    float: left;    
    overflow: hidden;
    margin: 0 0 0 10px;
    width: 500px;    
}
#box-depoimento #depoimento-texto2{
        float: left;    
    overflow: hidden;
    margin: 0 0 0 10px;
    width: 500px
                
}
#box-depoimento #abre-aspas2{        
    margin: 0 0 0 160px;    
}

.error{
    padding: 10px 13px;
    font-size: 12px;
    border: 1px solid #efbac0;
    background-color: #FcBdC4;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;  
}
