

#corpo{

         

}



#corpo #boxcenter{

       /*height:1428px !important;*/

}



#contexto1{

    width : 20px;

    height : 0px;

    padding:0;

    /*text-align: center;*/

    list-style-type: none;

    border: 1px solid transparent;

    margin: 0;



}

#contexto2{

   width:882px;

   height: 390px;

   text-align: center;

    vertical-align: top;

    /*padding-top:  80px;*/

    padding-top:  15px;

    padding-left: 33px;





   border: 1px solid transparent;

}

#contexto0{

    text-align: left;

    height: 70px;

    border: 1px solid transparent;



    font-size   : 16px;

    font-weight : bold;

    letter-spacing: 1px;



    padding-left:214px;

    vertical-align: bottom;

}



#sombra{

    /*margin-left: auto;
    margin-right:auto;*/
    margin-left: 22px;

    text-align: left;

    border: 1px solid #e3d8dc;

    width: 766px;

}

#box{

    border: 1px solid #f7aebf;

    background-color: #faeaec;

}



#box #texto{

   vertical-align: text-top;

   padding-top: 10px;

   line-height: 28px;



   padding-left: 8px;   

}



#texto #titulo{

    font-weight: bold;

    margin-bottom: 5px;

    margin-left: 30px;

    font-size: 18px;

}





#box #texto2{

   vertical-align: text-top;

   padding-top: 10px;
   padding-bottom: 10px;

   line-height: 20px;

   font-size: 13px;

   padding-right: 20px;

   padding-left: 20px;

}



#texto2 #titulo2{

    font-weight: bold;

    margin-bottom: 5px;

    

    font-size: 18px;

}



#tipoTexto1{

    font-size: 14px;

    

    margin-left: 16px;

}



#img-quebradelinha{

    margin-left: 0px;

    margin-top: 15px;

    margin-bottom: 15px;



}